html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background: url('./images/stars.png') repeat-x center #362a4e;
  color: white;
}

div[class^='conteiner'], header {
  display: flex;
  margin: auto;
  padding-bottom: 50px;
  width: 80%;
}

.planeta {
  flex-grow: 1;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteiner_planet_image {
  height: 80px;
  width: 80px;
  position: relative;
}

.conteiner_planet_image:before {
  content: '';
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 14px 16px 20px #060508;
}

img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
