html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background: url('./images/stars.png') repeat-x center #362a4e;
  color: white;
}

.conteiner_planeta_title {
  display: flex;
  margin: auto;
  padding-bottom: 50px;
  width: 80%;
}

.conteiner_planeta {
  display: flex;
  margin: auto;
  padding-bottom: 50px;
  width: 80%;
}

.conteiner_missions {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 50px;
  width: 80%;
}

.conteiner_mission {
  flex-grow: 1;
  max-width: 25%;
  padding: 20px;
  width: 25%;
}

.mission {
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #1a1a29;
  color: #362a4e;
  height: 100%;
  padding: 20px;
}

.mission h3 {
  padding-bottom: 20px;
}

.conteiner_missions_title {
  display: flex;
  margin: auto;
  padding-bottom: 10px;
  width: 80%;
}

header {
  display: flex;
  margin: auto;
  padding: 50px 0;
  width: 80%;
}

.planeta {
  flex-grow: 1;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteiner_planet_image {
  height: 80px;
  position: relative;
  width: 80px;
}

.conteiner_planet_image:before {
  border-radius: 100%;
  box-shadow: 14px 16px 20px #060508;
  content: '';
  height: 40%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: -1;
}

img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

h1 {
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h2 {
    text-align: center;
    width: 100%;
}
